html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.template {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Шапка */
.top-bg {
    padding-top: 50px;
    background-color: #eeeeee;
    min-width: 1200px;
}

.main-header {
    display: flex;
    margin-bottom: -14px;
    align-items: center;
}

.main-header-logo {
    width: 160px;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.4;
}

.main-nav {
    margin-left: 179px;
    margin-top: 16px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-element {
    margin-left: 23px;
    margin-right: 23px;
    text-decoration: none;
}

.cart {
    margin-left: auto;
    line-height: 30px;
    margin-top: 12px;
}

.cart-link::before {
    position: absolute;
    content: url(../img/cart.svg);
    right: 100px;
    top: 65%;
    transform: translateY(-50%);
}

.nav-element a {
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: opacity 150ms, color 150ms;
    color: black;
    font-weight: 500;
    display: inline-block;
}

.site-navigation-current {
    padding-bottom: 2px;
    border-bottom: 2px solid red;
}

.nav-element a[href]:hover,
.nav-element a[href]:focus {
    color: #fb565a;
}

.nav-element a[href]:active {
    color: gray;
}

.cart-link {
    position: relative;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: opacity 250ms, color 250ms;
    font-weight: 500;
}

.cart-link[href]:hover,
.cart[href]:focus {
    color: #fb565a;
}

.cart-link[href]:active {
    color: gray;
    opacity: 0.3;
}

/*Слайдер*/
.slider {
    position: relative;
    background-color: #eeeeee
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
}

.slider-list {
    padding-left: 0;
    list-style: none;
}

.slider-item {
    display: none;
    padding: 72px 0 80px 0;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93.2% 12px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
    font-size: 16px;
    line-height: 24px;
}

.button {
    display: block;
    width: 240px;
    padding: 16px 0;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* Блок услуг */
.services {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 0;
    padding-bottom: 20px;
    padding-right: 60px;
    border-bottom: 2px solid #eeeeee;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.service-item {
    width: 300px;
    margin-bottom: 60px;
}

.service-item h3 {
    margin: 0;
    margin-top: 18px;
    margin-bottom: 13px;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}

.service-item p {
    width: 260px;
    margin: 0;
    margin-bottom: 32px;
    color: #283136;
    font-size: 16px;
    line-height: 24px;
}

.btn {
    display: inline-block;
    padding: 16px 40px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #fb565a;
    transition: background-color 250ms;
    outline: none;
    cursor: pointer;
}

.service-btn {
    box-sizing: border-box;
    height: 50px;
    width: 160px;
    padding-top: 17px;
    font-weight: 500;
}

.btn:hover {
    background-color: #e74246;
}

.btn:focus {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.green {
    background-color: #00ca74;
}

.green:hover {
    background-color: #00bc6c;
}

.green:focus {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.3);
}

.yellow {
    background-color: #efc84a;
}

.yellow:hover {
    background-color: #eab534;
}

.yellow:focus {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3);
}

/* О нас*/
.about-us-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
    padding-bottom: 70px;
    border-bottom: 2px solid #eeeeee;
}

.about-us {
    width: 760px;
}

.about-us-slogan {
    margin: 0;
    margin-bottom: 35px;
    padding-top: 35px;
    font-size: 45px;
    line-height: 44px;
    font-weight: 500;
}

.about-us-para {
    margin-top: 0;
    margin-bottom: 42px;
    color: #283136;
    font-size: 16px;
    line-height: 24px;
}

.about-us-heading {
    margin: 0;
    margin-bottom: 29px;
    font-weight: bold;
    text-transform: uppercase;
}

.stats-heading {
    text-align: center;
}

.about-us-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.about-us-element {
    position: relative;
    margin-bottom: 30px;
    padding-left: 36px;
    color: #283136;
}

.about-us-element:last-of-type {
    margin-bottom: 0;
}

.about-us-element::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 1px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.about-us-info {
    width: 380px;
    box-sizing: border-box;
    padding-left: 21px;
}

.about-us-logo {
    display: block;
    margin-bottom: 40px;
}

.stats {
    display: flex;
    margin-top: 39px;
}

.stats-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
}

.about-us__col:last-of-type {
    margin-right: 0;
}

.stats-column p {
    order: 1;
    max-width: 110px;
    height: 25px;
    line-height: 18px;
    font-size: 16px;
}

.stats-column .number {
    position: relative;
    order: 0;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 24px;
}

.stats-column .percent {
    vertical-align: super;
    font-size: 0.6em;
    line-height: 0;
}

/*Клиенты */
.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 5px;
    padding: auto;
    padding-bottom: 34px;
    list-style-type: none;
}

.clients-element {
    position: relative;
    margin-right: 0;
}

.clients-element:not(:last-of-type)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    right: -20px;
    top: 45%;
    transform: translateY(-50%);
    background-color: #eeeeee;
}

.clients-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    margin-left: -39px;
    height: 90px;
    opacity: 0.2;
    transition: opacity 200ms;
}

.client1 {
    padding-top: 4px
}

.client4 {
    padding-top: 2px;
}

.clients-link:hover {
    opacity: 1;
}

.clients-link:active {
    opacity: 0.1;
}

.clients {
    border-bottom: 2px solid #eeeeee;
    padding-left: 0;
    margin-bottom: 55px;
}

/* Карта */
.map-contacts {
    background: url(../img/map.png) no-repeat 50% 50%;
    padding: 25px 0;
    position: relative;
    min-height: 416px;
}

.map {
    width: 100%;
    height: 416px;
    border: none;
    position: absolute;
}

.info-map {
    width: 230px;
    background-color: #fff;
    padding-top: 35px;
    padding-bottom: 46px;
    padding-left: 44px;
    padding-right: 45px;
    margin-top: 54px;
    position: absolute;
}

.info-map a {
    text-decoration: none;
    margin-left: 2px;
}

.info-map h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 27px;
    color:black;
}

.map-btn {
    margin-top: 38px;
    padding: 16px 0;
    width: 218px;
}

.info-map p {
    line-height: 1.2;
    margin-left: 2px;
    color: #666666;
    padding-bottom: 2px;
}

.contacts {
    margin-left: 5px;
    color: #666666;
}

/*Подвал*/
.page-footer {
    display: flex;
    align-items: flex-start;
    margin-top: 44px;
    margin-bottom: 78px;
}

.info {
    margin-right: 50px;
    flex: 1 0 auto;
    min-width: 360px;
    max-width: 560px;
}

.discount {
    width: 760px;
}

.discount h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    font-size: 36px;
    line-height: 48px;
}

.discount p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.soc-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    margin-left: 0;
    list-style-type: none;
}

.soc-item {
    margin: 0;
}

.soc-item:not(:last-of-type) {
    margin-right: 12px;
}

.social-button {
    display: block;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background-color: #e1e1e1;
    transition: background-color 250ms;
}

.vk {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='15' viewBox='0 0 26 15'%3E%3Cpath fill='%23FFF' d='M16.138 11.51c.956-.309 2.18 2.04 3.483 2.939.978.681 1.727.534 1.727.534l3.473-.05s1.815-.112.957-1.554c-.071-.12-.503-1.069-2.585-3.022-2.177-2.043-1.882-1.712.739-5.244 1.597-2.153 2.236-3.468 2.036-4.028-.192-.539-1.365-.399-1.365-.399L20.69.713c-.381.001-.704.119-.851.515-.003.004-.621 1.666-1.445 3.079-1.741 2.989-2.436 3.148-2.724 2.961-.661-.433-.494-1.737-.494-2.664 0-2.897.432-4.105-.846-4.417-.427-.104-.739-.172-1.828-.182-1.392-.021-2.574 0-3.244.329-.445.223-.786.712-.579.74.26.035.843.16 1.155.586.401.552.389 1.789.389 1.789s.229 3.411-.54 3.834c-.528.29-1.25-.302-2.803-3.016-.793-1.388-1.392-2.922-1.392-2.922s-.116-.285-.326-.441c-.25-.185-.6-.244-.6-.244L.848.684S.29.7.085.946c-.182.218-.015.668-.015.668s2.909 6.881 6.203 10.347c3.02 3.182 6.452 2.971 6.452 2.971h1.555s.469-.054.709-.312c.224-.24.214-.691.214-.691s-.031-2.109.935-2.419z'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.vk:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='15' viewBox='0 0 26 15'%3E%3Cpath fill='%23FFF' opacity='0.3' d='M16.138 11.51c.956-.309 2.18 2.04 3.483 2.939.978.681 1.727.534 1.727.534l3.473-.05s1.815-.112.957-1.554c-.071-.12-.503-1.069-2.585-3.022-2.177-2.043-1.882-1.712.739-5.244 1.597-2.153 2.236-3.468 2.036-4.028-.192-.539-1.365-.399-1.365-.399L20.69.713c-.381.001-.704.119-.851.515-.003.004-.621 1.666-1.445 3.079-1.741 2.989-2.436 3.148-2.724 2.961-.661-.433-.494-1.737-.494-2.664 0-2.897.432-4.105-.846-4.417-.427-.104-.739-.172-1.828-.182-1.392-.021-2.574 0-3.244.329-.445.223-.786.712-.579.74.26.035.843.16 1.155.586.401.552.389 1.789.389 1.789s.229 3.411-.54 3.834c-.528.29-1.25-.302-2.803-3.016-.793-1.388-1.392-2.922-1.392-2.922s-.116-.285-.326-.441c-.25-.185-.6-.244-.6-.244L.848.684S.29.7.085.946c-.182.218-.015.668-.015.668s2.909 6.881 6.203 10.347c3.02 3.182 6.452 2.971 6.452 2.971h1.555s.469-.054.709-.312c.224-.24.214-.691.214-.691s-.031-2.109.935-2.419z'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


.fb {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='22' viewBox='0 0 12 22'%3E%3Cpath fill='%23FFF' d='M12 4V0H8a4 4 0 0 0-4 4v4H0v4h4v10h4V12h4V8H8V4h4z'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.fb:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='22' viewBox='0 0 12 22'%3E%3Cpath fill='%23FFF' opacity ='0.3' d='M12 4V0H8a4 4 0 0 0-4 4v4H0v4h4v10h4V12h4V8H8V4h4z'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.inst {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cpath fill='%23FFF' d='M18 0H3C1.35 0 0 1.35 0 3v15c0 1.65 1.35 3 3 3h15c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zm-7.5 7c1.93 0 3.5 1.57 3.5 3.5S12.43 14 10.5 14 7 12.43 7 10.5 8.57 7 10.5 7zM18 18H3V9h1.181A6.504 6.504 0 0 0 4 10.5a6.5 6.5 0 1 0 13 0 6.45 6.45 0 0 0-.181-1.5H18v9zm0-11h-4V3h4v4z'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.inst:active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cpath fill='%23FFF' opacity ='0.3' d='M18 0H3C1.35 0 0 1.35 0 3v15c0 1.65 1.35 3 3 3h15c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zm-7.5 7c1.93 0 3.5 1.57 3.5 3.5S12.43 14 10.5 14 7 12.43 7 10.5 8.57 7 10.5 7zM18 18H3V9h1.181A6.504 6.504 0 0 0 4 10.5a6.5 6.5 0 1 0 13 0 6.45 6.45 0 0 0-.181-1.5H18v9zm0-11h-4V3h4v4z'/%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.social-button:hover {
    background-color: #e74246;
}

.social-button:focus {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}


.social-button:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.popup-form-container {
    position: fixed;
    width: 960px;
    background-color: #ffffff;
    box-shadow:
        -45px 0 45px -40px rgba(0, 0, 0, 0.65),
        45px 0 45px -40px rgba(0, 0, 0, 0.65),
        0 14px 30px 2px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes popup-open {
    0% {
        transform: translate(-50%, 100%);

    }

    50% {
        transform: translate(-50%, -65%);

    }

    100% {
        transform: translate(-50%, -50%);

    }
}

.popup-form-container {
    display: none;
}

.show {
    display: block;
    animation: popup-open 750ms ease;
}

.modal-error {
    animation: shake 0.8s ease;
}

@keyframes shake {

    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(-45%, -50%);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(-55%, -50%);
    }
}

.popup-form-legend {
    float: left;
    margin: 0;
    margin-bottom: 47px;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
}

.popup-form-field {
    width: 760px;
    margin: 0 auto;
    padding: 70px 0 45px;
    border: none;
}

.form-input {
    display: flex;
    margin-bottom: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    clear: both;
}

.form-input-data {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.form-input-data:hover {
    border-color: red;
}


.form-message {
    width: 760px;
    margin-bottom: 40px;

}

.text-input {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: normal;
}

.text-field {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-top: 10px;
    padding: 14px;
    border: 2px solid rgba(68, 68, 68, 0.2);
    border-radius: 3px;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    background-color: transparent;
    resize: none;
    outline: none;

}

.text-field:hover {
    border-color: #b4b9bb;
}

.text-field:focus::placeholder,
.text-field:focus {
    border-color: #000000;
    color: #000000;
}

.text-field:invalid {
    border-color: #e74246;
    color: #e74246;
}

.btn-form {
    width: 260px;
}

.close-cross {
    position: absolute;
    width: 21px;
    height: 21px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    top: 80px;
    right: 90px;
    opacity: 0.3;
}

.close-cross:hover {
    opacity: 1;
}

.close-cross:active {
    opacity: 0.1;
}

.close-cross::before,
.close-cross::after {
    content: "";
    top: 9px;
    right: -4px;
    position: absolute;

    width: 29px;
    height: 4px;

    background-color: red;

}

.close-cross::before {
    transform: rotate(45deg);
}

.close-cross::after {
    transform: rotate(-45deg);
}

/* КАТАЛОГ*/
.catalog-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

fieldset {
    border: none;
}

.catalog-name {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 67px;
    padding-top: 33px;
    margin-bottom: 30px;
    margin-top: 14px;
}


.catalog-name h1 {
    font-size: 55px;
    font-weight: 500;
    text-align: center;
}

/*Ползунок*/
.filter-item {
    padding: 0;
    margin: 0;
    border: none;
    width: 260px;
    margin-bottom: 59px;
}

.range-filter {
    width: 260px;
    margin-top: 51px;
}

.filter-item legend {
    font-size: 19px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 14px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #eeeeee;
    border-radius: 3px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 10px 10px;
    margin-left: 8px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 3px;
    background: #eeeeee;
}

.max-price {
    text-align: right;
}

/*Фильтры и сортировка*/
.filters {
    padding-top: 17px;
}

.filter {
    margin: 0;
    padding: 0;
}

.filter-list {
    font-size: 16px;
    padding-left: 36px;
    margin-top: 9px;
    list-style-type: none;
    color: #283136;
    margin-bottom: 51px;
}

.filter-list li {
    margin-bottom: 22px;
}

.filter-field {
    padding: 0;
    border: none;
    margin: 0;
}

.filter-legend {
    margin-bottom: 13px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.slider-legend {
    font-size: 28px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    opacity: 0.4;
    position: absolute;
    left: -35px;
    top: -3px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.filter-input-checkbox:checked + label::before {
    content: "";
    opacity: 0.4;
    position: absolute;
    top: -3px;
    left: -35px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label:hover::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -35px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.filter-input-checkbox + label:hover::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -35px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.filter-new + label::before {
    content: "";
    opacity: 0.4;
    position: absolute;
    left: -35px;
    top: -2px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.filter-new:checked + label::before {
    content: "";
    opacity: 0.4;
    position: absolute;
    top: -2px;
    left: -35px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-new:checked + label:hover::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.filter-new + label:hover::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.filter-gallery + label::before {
    content: "";
    opacity: 0.4;
    position: absolute;
    left: -35px;
    top: -2px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.filter-gallery:checked + label::before {
    content: "";
    opacity: 0.4;
    position: absolute;
    top: -2px;
    left: -35px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-gallery:checked + label:hover::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.filter-gallery + label:hover::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -35px;
    width: 26px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

/* радио*/
.filter-input-radio:checked + label::before {
    content: "";
    opacity: 0.4;
    position: absolute;
    top: -4px;
    left: -35px;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";
    opacity: 0.4;
    position: absolute;
    top: -4px;
    left: -35px;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio:checked + label:hover::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -35px;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.filter-input-radio + label:hover::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -35px;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

input:disabled + label {
  opacity: 0.3;
}

.grey {
    width: 260px;
    height: 50px;
    background-color: #eeeeee;
    color: black;
    font-weight: bold;
    margin-left: 0;
    margin-top: -1px;
}

.grey:hover {
    background-color: #dfdfdf;
}

.grey:focus {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
}

.catalog {
    width: 760px;
    margin-bottom: 8px;
}


.sorting {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 7px;
    margin-bottom: 43px;
}

.sorting-heading {
    min-width: 200px;
    margin: 0;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 18px;
}

.sorting-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.sorting-element {
    margin-right: 26px;
}

.sorting-link {
    padding: 14px 0;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.3;
    transition: opacity 150ms;
}

.sorting-link:hover,
.sorting-link:focus {
    opacity: 0.6;
}

.sorting-link:active,
.sorting-link-active {
    opacity: 1;
}

.sorting-arrows {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.sorting-arrows a {
    position: relative;
    display: inline-block;
    padding: 14px 10px;
    width: 11px;
    height: 11px;
    text-decoration: none;
    opacity: 0.2;
}

.sorting-arrows a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
}

.up::before {
    border-width: 0 6px 11px 6px;
    border-color: transparent transparent #000000 transparent;
    margin-left: 9px;
    margin-top: 2px;
}


.down::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 6px 0 6px;
    border-color: #000000 transparent transparent transparent;
    margin-left: 11px;
    margin-top: 2px;
}


.sorting-arrows a:hover {
    opacity: 0.5;
}

.sorting-arrows a:focus,
.sorting-arrows a:active {
    opacity: 1;
}

/*Товары*/
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 28px;
    list-style-type: none;
    width: 760px;
    padding: 0;
}

.catalog-item {
    position: relative;
    width: 360px;
    margin-bottom: 33px;
    transition: box-shadow 150ms ease-in;
    padding-top: 40px;
}

.catalog-item:only-of-type {
    margin-bottom: 0;
}

.catalog-item:hover,
.catalog-item:focus {
    box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    border-radius: 5px 5px 0 0;
    background: #e9e9e9 url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Ccircle r='7' cx='23' cy='50%'/%3E%3Ccircle r='7' cx='46' cy='50%'/%3E%3Ccircle r='7' cx='69' cy='50%25'/%3E%3C/svg%3E%0A");
    transition: opacity 100ms ease-in;
}

.catalog-item:hover::before,
.catalog-item:focus::before {
    background-color: #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
}

.item-image {
    display: block;
    outline: 1px solid #e5e5e5;
    outline-offset: -1px;
    background-color: #e9e9e9;
}

.popup-info {
    position: absolute;
    width: 360px;
    bottom: 0;
    padding-top: 14px;
    padding-bottom: 43px;
    background-color: #eeeeee;
    opacity: 0;
    transition: opacity 150ms ease-in;
    margin: 0 auto;
    text-align: center;
}

.info-btn {
    box-sizing: border-box;
    width: 200px;
    margin-top: 14px;
}

.catalog-item:hover .popup-info,
.catalog-item:focus .popup-info {
    opacity: 1;
}

.popup-info h3 {
    font-size: 18px;
    padding-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.popup-info p {
    color: #666666;
    line-height: 1.13;
    padding-left: 4px;
}

/*Страницы*/
.pages {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

.pages-element {
    padding: 16px 0;
    margin-right: 11px;
    margin-bottom: 10px;
}

.pages-element:last-of-type {
    margin-right: 0;
}

.pages-link {
    padding: 16px 21px 15px 20px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    background-color: #eeeeee;
}

.pages-link[href]:hover,
.pages-link[href]:focus {
    background-color: #dfdfdf;
}

.pages-link[href]:active {
    color: #959595;
    box-shadow: inset 0 3px 0 0 #bfbfbf;
    background-color: #d5d5d5;
}

.pages-current {
    box-shadow: inset 0 0 0 3px #dbdbdb;
    background-color: white;
}

.pages-next {
    padding-left: 78px;
    padding-right: 78px;
    text-transform: uppercase;
}
